<%- include('./partials/header') %>

<div class="mb-3">
  <form action="/sign_in" method="POST" class='form-inline'>
  <label for="exampleFormControlInput1" class="form-label">Username</label>
  <input type="text" class="form-control" name='username' id="exampleFormControlInput1" placeholder="e.g. Madam Welminste">
  </br>
  <button type="submit" class="btn btn-outline-secondary">Sign In</button>
</form>

<%- include('./partials/footer') %>